///*------------------------------------*\
//    #CORE/HTML - TABLES
//\*------------------------------------*/

table {
  box-shadow:0px 6px 7px rgba(0, 0, 0, 0.28);
  border-collapse: collapse;
  border-radius:10px;
  position:relative;
  table-layout: fixed;
  width: 100%;
  &:after{
    background:$white;
    content:'';
    display:block;
    height:100%;
    left:0;
    position:absolute;
    opacity:0.7;
    top:0;
    width:100%;
    z-index:0;
  }
}
tbody{
  tr:nth-of-type(odd) {
    background: #51474d;
  }
}
td,
th {
  padding: 10px;
  position:relative;
  text-align: left;
  // width:20%;
  z-index:1;
}
.profiles{
  padding-right:5px;
}
th.profile-tab{
  // background: #51474d;
  // border:1px solid #51474d;
  color: white;
  font-weight: bold;
  padding:10px 5px 0 5px;
  text-align:center;
}
td{
  @include font-size(12,18);
  background-image: url('/images/default.png');
  padding: 18px 20px;
  span{
    @include font-size(18,24);
    display:block;
    padding:10px 0;
  }
  &:first-child{
    background-image: none;
  }
  &.medal{
    background-position: center 76px;
    background-size: 124px;
    padding-bottom: 160px;
    position:relative;
    &.gold{
      background-color:rgba(255, 227, 79, 0.38);
      background-image: url('/images/medal-gold.png');
      &:after{
        border:1px solid #fcefa8;
      }
    }
    &.silver{
      background-color:rgba(132, 255, 243, 0.26);
      background-image: url('/images/medal-silver.png');
      &:after{
        border:1px solid #81fae4;
      }
    }
    &.bronze{
      background-color:rgba(135, 114, 0, 0.39);
      background-image: url('/images/medal-bronze.png');
      &:after{
        border:1px solid #eac31e;
      }
    }
    &:after{
      border-radius:10px;
      display:block;
      content:'';
      height:90%;
      left:5%;
      position:absolute;
      top:5%;
      width:90%;
    }
  }
  // border: 1px solid #b1afb2;
}
.logo{
  margin: 0 auto;
  width: 69%;
}
.tab{
  background: #51474d;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  height:100%;
  margin:0 auto;
  padding:10px;
  width:100%;
}
.avatar{
  box-shadow: 0px 0px 13px #fff;
  display:inline-block;
  vertical-align: top;
  width:40%;
}
.username{
  @include font-size(24, 10);
  font-family:$heading;
  text-transform: uppercase;
}
.level-container{
  display:inline-block;
  overflow:hidden;
  position:relative;
  .star,
  p{
    display:inline-block;
    float:left;
    vertical-align: top;
  }
  .star{
    left:-36px;
    position:absolute;
    top:-27px;
    width:90px;
  }
  p{
    margin:0;
    &.star-adjust{
      padding-left:24px;
    }
  }
}
.playtime{
  margin:0.5rem;
}
.top-row{
  overflow:hidden;
  padding:12px;
  position:relative;
  &:after{
    background-color:$white;
    border-radius:6px;
    content:'';
    height:100%;
    left:0;
    opacity:0.6;
    position:absolute;
    top:0;
    width:100%;
  }
  p{
    position:relative;
    z-index:2;
  }
  p{
    display:block;
    margin:0;
    &.data-value{
      float:left;
    }
    &.data-average{
      float:right;
      font-family:$heading;
      font-size:18px;
      &.center{
        float:none;
        text-align:center;
      }
    }
  }
}
tbody{
  p.bold{
    text-align:center;
  }
}
